/* COMMON */
.inner {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}
body {
  font-family: "Nanum Gothic", sans-serif;
  color: #fff;
  background-color: #000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../imgs/video_cover_pattern\ -\ 복사본.png);
  overflow-x: hidden;
  overflow-y: auto;
  /* -ms-overflow-style: none; IE and Edge
  scrollbar-width: none; Firefox */
}
/* body::-webkit-scrollbar {
  display: none; Chrome, Safari, Opera
} */
img {
  display: block;
}
a {
  text-decoration: none;
  color: #fff;
}
* {
  box-sizing: border-box;
}
h3 {
  font-size: 30px;
}
h4 {
  font-size: 20px;
}
h5 {
  font-size: 16px;
}
p {
  font-size: 12px;
}

.back-to-position {
  opacity: 0;
  transition: 1s;
}
.back-to-position.to-right {
  transform: translate(-150px, 0);
}
.back-to-position.to-left {
  transform: translate(150px, 0);
}
.back-to-position.to-left-bottom {
  transform: translate(50px, 50px);
}
.back-to-position.to-right-top {
  transform: translate(-50px, -50px);
}
.back-to-position.to-left-top {
  transform: translate(50px, -50px);
}
.back-to-position.to-right-bottom {
  transform: translate(-50px, 50px);
}
.back-to-position.to-top {
  transform: translate(0, 50px);
}

.show .back-to-position {
  opacity: 1;
  transform: translate(0, 0);
}
.show .back-to-position.delay-0 {
  transition-delay: 0s;
}
.show .back-to-position.delay-1 {
  transition-delay: 0.2s;
}
.show .back-to-position.delay-2 {
  transition-delay: 0.4s;
}
.show .back-to-position.delay-3 {
  transition-delay: 0.8s;
}
.show .back-to-position.delay-4 {
  transition-delay: 1s;
}
.show .back-to-position.delay-5 {
  transition-delay: 1.2s;
}
.show .back-to-position.delay-6 {
  transition-delay: 1.6s;
}
.show .back-to-position.delay-7 {
  transition-delay: 1.8s;
}
.show .back-to-position.delay-8 {
  transition-delay: 2s;
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9;
}
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .inner.s {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.sub_menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 7px 0;
  font-size: 11px;
}
.sub_menu .sub_menu_item {
  padding: 5px 5px;
  color: #fff;
}
.sub_menu .sub_menu_item::before {
  content: "";
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0 5px;
}
.sub_menu .sub_menu_item:first-child:before {
  content: "";
  border-left: none;
}

.search {
  font-size: 13px;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search input {
  margin: 0 15px 0 0;
  height: 25px;
  width: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
  border-radius: 10px;
  padding: 2px 10px;
  font-size: 12px;
  transition: 0.4s;
}
.search input:focus {
  width: 150px;
  border: 1px solid #fff;
}
.search i {
  position: absolute;
  right: 23px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}
.search.focused i {
  opacity: 0;
}
.main_menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-weight: 300;
}
.main_menu_item {
  text-shadow: 1px 1px 2px #000;
  position: relative;
  margin: 0px 25px;
  padding: 0 10px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_menu_item:last-child {
  margin-right: 0;
}
.main_menu_item .item_name {
  width: 100%;
  display: flex;

  align-items: center;
  margin: 0 10px;
  text-shadow: 1px 1px 1px black;
  transition: all 0.7s;
}

.main_menu_item:hover .item_name {
  color: #e41a12;
  font-weight: 500;
}

.main_menu_item h5 {
  text-align: right;
}
.main_menu_item h5 span {
  font-size: 13px;
}

.main_menu_item ul.item_contents {
  position: absolute;
  top: 30px;
  width: 100%;
  padding: 5px 24px 0 0;
  opacity: 0;
  display: none;
  transition: all 1s;
  font-size: 15px;
}

.main_menu_item:hover ul.item_contents {
  display: block;
  opacity: 1;
  border-radius: 2px;
}
.main_menu_item ul.item_contents li {
  margin: 11px 0;
  text-align: right;
}
.main_menu_item ul.item_contents li a {
  font-weight: 300;
  transition: 0.2s;
  display: block;
  width: 100%;
}
.main_menu_item ul.item_contents li a:hover {
  font-weight: 500;
  color: #f46d0d;
}
.menu_bar {
  position: absolute;
  top: 16px;
  right: 16px;
  display: none;
}
.menu_bar .menu_btn {
  border: none;
  background-color: transparent;
}
.menu_bar .menu_btn i {
  font-size: 25px;

  color: #fff;
}
/* HEADER POP-UP */
.popup-x-btn {
  display: none;
  position: absolute;
}

/* SECTION:HOME */
.home {
  position: relative;
  height: 100vh;
}
.youtube {
  height: 100vh;
  background-color: #000;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
}
.home .youtube_area {
  width: 1920px;
  position: absolute;
  left: 50%;
  margin-left: calc(1920px * -0.5);
  top: 50%;
  margin-top: calc(1920px * 9 / 16 / -2);
}
.home .youtube_area::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 56.25%;
  height: 0;
}
.home #player {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.home .youtube_cover {
  position: absolute;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../imgs/video_cover_pattern\ -\ 복사본.png);
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
}
.home .youtube_cover > .inner {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;

  bottom: 0;
}

.main {
  position: absolute;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
}
.cgv_logo {
  width: 220px;
  position: absolute;
  top: 0;
  bottom: -10px;
  left: 100px;
  margin: auto 0;
  filter: drop-shadow(1px 1px 10px #000);
}
.btn .home_main_btn {
  width: 150px;
  height: 150px;
  border-radius: 100px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 11px;
  letter-spacing: 3px;
  position: absolute;

  bottom: 75px;
  right: 60px;
  margin: auto 0;
  text-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease-out;
  backface-visibility: hidden;
}
.btn .home_main_btn.front {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url("../imgs/cruella_logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotateY(0deg);
}
.btn:hover .home_main_btn.front {
  transform: rotateY(180deg);
}
.btn .home_main_btn.back {
  background-color: transparent;
  border: 1px solid #e41a12;
  background-color: transparent;
  color: #f46d0d;
  font-size: 12px;
  transform: rotateY(-180deg);
}
.btn:hover .home_main_btn.back {
  transform: rotateY(0deg);
}
/* .home_main_btn:hover {
  border: none;
  color: #fff;
  background-color: #f46d0d;
} */
.btn .home_main_btn i {
  margin-top: 5px;
}

/* SECTION:BANNER */
.banner {
  margin: 300px 0;
  height: 220px;
}
.banner .swiper-container {
  width: 2660px;
  height: 220px;
  position: absolute;
  left: 50%;
  margin-left: calc(2660px / -2);
}

.banner .swiper-slide {
  width: 500px;
  height: 220px;
  opacity: 0.3;
  overflow: hidden;
  border-radius: 15px;
}
.banner .swiper-slide-active {
  opacity: 1;
  /* width: 1000px; */
}

.banner .swiper-slide img {
  width: 500px;
}

.banner .swiper-pagination {
  position: absolute;
  padding: 5px 0;
}
.banner
  .swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 2px;
  width: 8px;
  height: 8px;
}

.banner .swiper-prev {
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 5%;
  margin-top: -20px;
  margin-left: 167px;
  left: 50%;
  cursor: pointer;
  z-index: 2;
}
.banner .swiper-next {
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 5%;
  margin-top: -20px;
  margin-right: -235px;
  right: 50%;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s;
}

.banner .swiper-prev:hover,
.banner .swiper-next:hover {
  color: #f46d0d;
  opacity: 0.8;
}

/* SECTION:MOVIESELECTION */
.movieselection {
  margin-top: 300px;
}
.movieselection .title {
  position: relative;
}
.movieselection .title img {
  width: 40px;
  position: absolute;
  top: 0px;
  right: 0px;
  opacity: 0.7;
}
.movieselection h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: right;
  margin-right: 20px;
  letter-spacing: 20px;
}
.movieselection .item.chart h2 {
  letter-spacing: 0px;
}
.movie_container {
  max-width: 1235px;
  margin: auto;
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  justify-items: center;
  align-items: center;
}
.movie_container .item.poster {
  position: relative;
  overflow: hidden;
  width: 290px;
  height: 470px;
}
.movie_container .item.poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.movie_container .item.poster .item_explanation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  transition: all 0.5s ease-out;
}
.movie_container .item.poster:hover .item_explanation {
  opacity: 1;
}
.movie_container .item_explanation_wrapper {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.movieselection .item_explanation_wrapper h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.movieselection .item_explanation_wrapper h5 {
  font-size: 16px;
  margin-bottom: 8px;
}
.movieselection .item_explanation_wrapper span {
  color: #f46d0d;
  font-size: 12px;
}
.movieselection .item_explanation_wrapper p {
  font-size: 11px;
  /* margin-bottom: 7px; */
  line-height: 1.7;
  /* letter-spacing: 0px; */
}
.movieselection .item_explanation_wrapper a.btn {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 0 20px;
  border: 1px solid #e41a12;
  border-radius: 10px;
  color: #f46d0d;
  background-color: transparent;
  letter-spacing: 2px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  margin-top: 40px;
  align-self: flex-end;
  transition: all 0.4s ease-out;
}

.movieselection .item_explanation_wrapper a.btn:hover {
  background-color: #f46d0d;
  border: none;
  color: #fff;
}

.chart_container {
  max-width: 1280px;
  margin: 200px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px;
  justify-items: center;
  align-items: center;
}

.item_explanation_wrapper h2 {
  font-size: 60px;
  text-align: left;
  margin-bottom: 15px;
  color: #e41a12;
  margin-top: 20px;
}
/* .movieselection .chart_container .item_explanation_wrapper a.btn {
  width: 130px;
  padding: 0;
} */
.chart_container .item.chart {
  width: 950px;
  height: 400px;
  overflow: hidden;
}

.chart_container .item.chart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.7);
}
.chart_container .item.chart .item_explanation_wrapper {
  display: flex;
  flex-direction: column;
  height: 400px;
}
.chart_container .item.chart .item_explanation_wrapper .btn {
  width: 130px;
  letter-spacing: 2px;
  margin-top: 100px;
}

.chart_container .item.chart:nth-child(1) {
  grid-column: 1/4;
  grid-row: 1/2;
}

.chart_container .item.chart:nth-child(2) {
  grid-column: 4/5;
  grid-row: 1/2;
  width: 100%;
  height: 400px;
}
.chart_container .item.chart:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 100%;
  height: 400px;
}
.chart_container .item.chart:nth-child(4) {
  grid-column: 2/5;
  grid-row: 2/3;
}
.chart_container .item.chart:nth-child(5) {
  grid-column: 1/4;
  grid-row: 3/4;
}
.chart_container .item.chart:nth-child(6) {
  grid-column: 4/5;
  grid-row: 3/4;
  width: 100%;
  height: 400px;
}

/* SECTION:EVENT-DISCOUNT */
.event-discount {
  margin-top: 300px;
  background-image: url(../imgs/CGV_bg.png);
  background-size: cover;
  background-position: center;
}

.event-discount .title {
  position: relative;
}
.event-discount .title img {
  width: 40px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.7;
}
.event-discount h2 {
  font-size: 40px;
  font-weight: 300;
  text-align: left;
  margin-left: 20px;
  letter-spacing: 20px;
}

.event_container {
  margin: 70px auto 0;
  max-width: 1280px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  grid-gap: 40px;
}
.event_container .item.event {
  width: 400px;
  overflow: hidden;
  position: relative;
}
.event_container .item.event:last-child {
  box-shadow: none;
}
.event_container .item.event img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.event_container .item.event .item_readmore {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.4s ease;
}
.event_container .item.event:hover .item_readmore {
  opacity: 1;
}
.event_container .item_readmore .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e41a12;
  border-radius: 10px;
  color: #f46d0d;
  background-color: transparent;
  letter-spacing: 2px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 12px;
  transition: all 0.4s ease-out;
  padding: 0 20px;
  height: 40px;
}
.event_container .item_readmore .btn:hover {
  color: #fff;
  background-color: #f46d0d;
  border: none;
}
.event_container .item.event img.cgv_logo_white {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 115.24px;
  width: 260px;
  object-fit: contain;
  margin: auto;
}
.event_container .item.event img.cgv_logo_color_text {
  position: absolute;
  top: 18px;
  bottom: 0;
  left: 0;
  right: 37px;

  width: 223px;
  object-fit: contain;
  margin: auto;
}
.event_container .item.event img.cgv_logo_color_logo {
  position: absolute;
  top: 0;
  bottom: 82px;
  left: 222px;
  right: 0;

  width: 38px;
  object-fit: contain;
  margin: auto;
}
.event_container .item.event:nth-child(1) {
  height: 400px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.event_container .item.event:nth-child(2) {
  height: 400px;
  grid-column: 2/3;
  grid-row: 1/2;
}
.event_container .item.event:nth-child(3) {
  height: 840px;
  grid-column: 3/4;
  grid-row: 1/3;
}
.event_container .item.event:nth-child(4) {
  height: 400px;
  align-self: flex-start;
  grid-column: 1/2;
  grid-row: 2/3;
}
.event_container .item.event:nth-child(5) {
  height: 400px;
  grid-column: 2/3;
  grid-row: 2/3;
}
.event_container .item.event:nth-child(6) {
  width: 840px;
  height: 360px;
  grid-column: 1/3;
  grid-row: 3/4;
  opacity: 0.5;
  position: relative;
}

.event_container .item.event:nth-child(7) {
  height: 800px;
  grid-column: 3/4;
  grid-row: 3/5;
  align-self: flex-start;
}
.event_container .item.event:nth-child(8) {
  width: 840px;
  height: 400px;
  grid-column: 1/3;
  grid-row: 4/5;
}
.event_container .item.event:nth-child(9) {
  width: 1280px;
  height: 300px;
  grid-column: 1/4;
  grid-row: 5/6;
}

/* SECTION:NOTICE_BAR */

.notice_bar > .inner {
  display: flex;
  justify-content: flex-start;
  max-width: 1280px;
  margin: 40px auto;
  border: 1px solid #e41a12;
  border-radius: 10px;
  height: 40px;
}
.notice_bar > .inner h2 {
  width: 100px;
  margin: auto 10px auto 12px;
}

.notice_bar > .inner .swiper-container {
  margin: 0 20px;
}
.notice_bar > .inner .swiper-container .swiper-slide {
  display: flex;
  align-items: center;
}
.notice_bar > .inner .swiper-container .swiper-slide:hover a {
  color: #f46d0d;
}

/* FOOTER */

footer > .inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px auto 50px;
}
footer > .inner .footer_menu {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
footer > .inner .footer_menu .footer_menu_item {
  font-size: 13px;
  margin-right: 10px;
}
footer > .inner .footer_menu .footer_menu_item::before {
  content: "";
  border: 1px solid rgba(255, 255, 255, 0.8);
  margin-right: 10px;
}
footer > .inner .footer_menu .footer_menu_item:first-child::before {
  content: "";
  border: none;
}
footer > .inner .footer_contents {
  display: flex;
  align-items: center;
}
footer > .inner .footer_contents img {
  width: 100px;
  opacity: 0.5;
  margin: 0 15px;
}
footer > .inner .footer_contents .footer_info {
  font-size: 12px;
  position: relative;
  margin: 0 15px;
}
footer > .inner .footer_contents .footer_info p {
  margin-bottom: 5px;
}
footer > .inner .footer_contents .footer_info button {
  position: absolute;
  top: 10px;
  right: 72px;
  font-size: 11px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #e41a12;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  transition: 0.4s;
}
footer > .inner .footer_contents .footer_info button:hover {
  background-color: #f46d0d;
  border: none;
}
footer > .inner .footer_contents .footer_info .footer_info_social {
  position: absolute;
  font-size: 20px;
  top: 10px;
  right: 0;
}

footer > .inner .footer_contents .footer_select {
  margin: 0 15px;
}
footer > .inner .footer_contents .footer_select #familysite {
}
footer > .inner .footer_contents button {
  font-size: 11px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #e41a12;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  transition: 0.4s;
}
footer > .inner .footer_contents button:hover {
  background-color: #f46d0d;
  border: none;
}

/* MEDIA QUERY */
@media (max-width: 1300px) {
  /*(max-width:1300px) HEADER */
  header {
    width: 100%;
    height: 100vh;
  }
  header .menu_bar {
    display: block;
  }
  header .popup-x-btn {
    display: block;
    top: 14px;
    right: 14px;
    font-size: 24px;
    z-index: 9;
  }
  header .menu_all {
    width: 100%;
    height: 1000px;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  header .inner.s {
    width: 30%;
    height: 100%;
    position: absolute;
    left: 0;
  }
  header .inner.m {
    width: 70%;
    height: 100%;
    position: absolute;
    right: 0;
  }
  header .sub_menu {
    flex-direction: column;
    background-color: rgba(228, 26, 18, 0.7);
    align-items: flex-start;
    width: 100%;
    height: 100%;
    padding: 75px 16px;
  }

  .sub_menu .sub_menu_item:first-child {
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 0;
    margin: 5px;
  }
  header .search {
    position: absolute;
    top: 35px;
    right: 0px;
  }
  header .main_menu {
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 60px;
  }
  .main_menu_item {
    padding: 16px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 150px;
  }
  .main_menu_item .item_name {
    position: absolute;
    top: 16px;
    font-weight: 500;
  }
  .main_menu_item ul.item_contents {
    position: absolute;
    top: 36px;
    padding: 0;
    font-size: 13px;
    display: block;
    opacity: 1;
  }

  .main_menu_item ul.item_contents li {
    margin: 11px 0;
    text-align: left;
  }
  .main_menu_item ul.item_contents li a {
    font-weight: 300;
    transition: 0.2s;
    display: block;
    width: 100%;
  }
  header .menu_all {
    display: none;
  }
  header .menu_all:target {
    display: block;
  }

  /* (max-width:1300px) SECTION:MOVIESELECTION */
  .movieselection .title {
    position: relative;
    right: 40px;
  }

  .movieselection h2 {
    font-size: 40px;
  }
  .movieselection h4 {
    font-size: 16px;
  }
  .movie_container {
    max-width: 945px;
    grid-gap: 20px;
  }
  .movie_container .item.poster {
    width: 220px;
    height: 356px;
  }

  .movieselection .item_explanation_wrapper h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .movieselection .item_explanation_wrapper h5 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .movieselection .item_explanation_wrapper span {
    display: block;
    color: #f46d0d;
    font-size: 12px;
    margin-top: 8px;
  }
  .movieselection .item_explanation_wrapper p {
    font-size: 11px;
    /* margin-bottom: 7px; */
    line-height: 1.7;
    /* letter-spacing: 0px; */
  }
  .chart_container {
    max-width: 1280px;
    margin: 200px auto 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
    justify-items: center;
    align-items: center;
  }

  .item_explanation_wrapper h2 {
    font-size: 60px;
    text-align: left;
    margin-bottom: 15px;
    color: #e41a12;
    margin-top: 20px;
  }

  /* (max-width:1300px) SECTION:CHART-CONTAINER */
  .chart_container {
    max-width: 950px;
  }

  .chart_container .item.chart {
    width: 100%;
  }

  .chart_container .item.chart .item_explanation_wrapper {
    padding: 0 30px;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0.7)
      ),
      url("../imgs/사각형\ 2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .chart_container .item.chart .item_explanation_wrapper .btn {
    width: 130px;
    letter-spacing: 2px;
  }

  .chart_container .item.chart:nth-child(1) {
    grid-column: 1/5;
    grid-row: 1/2;
  }

  .chart_container .item.chart:nth-child(2) {
    grid-column: 1/5;
    grid-row: 1/2;
  }
  .chart_container .item.chart:nth-child(3) {
    grid-column: 1/5;
    grid-row: 2/3;
    z-index: 1;
  }
  .chart_container .item.chart:nth-child(4) {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .chart_container .item.chart:nth-child(5) {
    grid-column: 1/5;
    grid-row: 3/4;
  }
  .chart_container .item.chart:nth-child(6) {
    grid-column: 1/5;
    grid-row: 3/4;
  }

  /*(max-width:1300px) SECTION:EVENT-DISCOUNT */
  .event-discount .title {
    position: relative;
    left: 40px;
  }
  .event-discount h2 {
    font-size: 40px;
  }
  .event-discount h4 {
    font-size: 16px;
    margin-top: 16px;
  }
  .event_container {
    max-width: 945px;
    grid-gap: 20px;
  }
  .event_container .item.event {
    width: 300px;
  }
  .event_container .item.event img.cgv_logo_white {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 115.24px;
    width: 260px;
    object-fit: contain;
    margin: auto;
  }

  .event_container .item.event:nth-child(1) {
    height: 300px;
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .event_container .item.event:nth-child(2) {
    height: 300px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .event_container .item.event:nth-child(3) {
    height: 620px;
    grid-column: 3/4;
    grid-row: 1/3;
  }
  .event_container .item.event:nth-child(4) {
    height: 300px;
    align-self: flex-start;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .event_container .item.event:nth-child(5) {
    height: 300px;
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .event_container .item.event:nth-child(6) {
    width: 600px;
    height: 257px;
    grid-column: 1/3;
    grid-row: 3/4;
    opacity: 0.5;
    position: relative;
  }

  .event_container .item.event:nth-child(7) {
    height: 600px;
    grid-column: 3/4;
    grid-row: 3/5;
    align-self: flex-start;
  }
  .event_container .item.event:nth-child(8) {
    width: 620px;
    height: 300px;
    grid-column: 1/3;
    grid-row: 4/5;
  }
  .event_container .item.event:nth-child(9) {
    width: 940px;
    height: 190px;
    grid-column: 1/4;
    grid-row: 5/6;
  }

  /*(max-width:1300px) SECTION:NOTICE_BAR */
  .notice_bar > .inner {
    max-width: 945px;
  }

  /*(max-width:1300px) FOOTER */

  footer > .inner .footer_menu {
    flex-wrap: wrap;
    justify-content: center;
    line-height: 20px;
  }
  footer > .inner .footer_contents {
    flex-wrap: wrap;
    justify-content: center;
  }
  footer > .inner .footer_contents img {
    margin: 0 15px 20px 0;
  }
  footer > .inner .footer_contents .footer_info {
    margin: 0 15px 20px 0;
  }
}
@media (max-width: 1024px) {
  /*(max-width:1024px) HOME */
  .cgv_logo {
    width: 180px;
  }
  .btn .home_main_btn {
    width: 100px;
    height: 100px;
  }

  /*(max-width:1024px)MOVIE SELECTION */
  .movieselection {
    margin-top: 200px;
  }
  .movieselection .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    right: 0;
  }
  .movieselection .title img {
    width: 40px;
    position: absolute;
    top: 0px;
    right: 50%;
    margin-right: -285px;
    opacity: 0.7;
  }
  .movieselection h2 {
    font-size: 30px;
    margin: 0;
  }

  .movie_container {
    max-width: 700px;
    grid-template-columns: repeat(2, 1fr);
  }
  .movie_container .item.poster {
    width: 340px;
    height: 550px;
  }
  .movie_container .item.poster .item_explanation {
    width: 100%;
    height: 40%;
    margin-top: 335px;
    opacity: 1;
  }

  .movieselection .item_explanation_wrapper h3 {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .movieselection .item_explanation_wrapper h5 {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .movieselection .item_explanation_wrapper span {
    color: #f46d0d;
    font-size: 11px;
  }
  .movieselection .item_explanation_wrapper p {
    font-size: 10px;
    /* margin-bottom: 7px; */
    line-height: 1.7;
    /* letter-spacing: 0px; */
  }
  .movieselection .item_explanation_wrapper a.btn {
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    padding: 0 16px;
    border: 1px solid #e41a12;
    border-radius: 10px;
    color: #f46d0d;
    background-color: transparent;
    letter-spacing: 2px;
    font-family: "Nanum Gothic", sans-serif;
    font-size: 10px;
    margin-top: 5px;
    align-self: flex-end;
    transition: all 0.4s ease-out;
  }

  .movieselection .item_explanation_wrapper a.btn:hover {
    background-color: #f46d0d;
    border: none;
    color: #fff;
  }
  /*(max-width:1024px)CHART CONTAINER */
  .chart_container {
    max-width: 700px;
    margin: 200px auto 0;
  }
  .chart_container .item_explanation_wrapper h2 {
    font-size: 50px;
    margin: 20px 0;
  }
  .chart_container .item.chart {
    width: 700px;
    height: 295px;
  }
  .chart_container .item.chart .item_explanation_wrapper {
    height: 295px;
  }

  .chart_container .item.chart .item_explanation_wrapper .btn {
    margin-top: 20px;
  }

  .chart_container .item.chart:nth-child(2) {
    height: 295px;
  }
  .chart_container .item.chart:nth-child(3) {
    height: 295px;
  }

  .chart_container .item.chart:nth-child(6) {
    height: 295px;
  }

  /*(max-width:1024px) SECTION:event-discount */
  .event-discount .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    left: 0;
  }
  .event-discount .title img {
    width: 40px;
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -120px;
    opacity: 0.7;
  }
  .event-discount h2 {
    font-size: 30px;
  }
  .event_container {
    max-width: 700px;
    grid-gap: 20px;
  }
  .event_container .item.event {
    width: 220px;
  }
  .event_container .item.event img.cgv_logo_white {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    width: 180px;
    object-fit: contain;
    margin: auto;
  }
  .event_container .item.event .item_readmore {
    width: 95%;
    height: 95%;
    background-color: transparent;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 1;
  }
  .event_container .item_readmore .btn {
    border: none;
    color: #fff;
    background-color: #f46d0d;
    font-size: 11px;
    padding: 0 10px;
    height: 26px;
    opacity: 0.9;
  }
  .event_container .item.event:nth-child(1) {
    height: 220px;
  }
  .event_container .item.event:nth-child(2) {
    height: 220px;
  }
  .event_container .item.event:nth-child(3) {
    height: 460px;
  }
  .event_container .item.event:nth-child(4) {
    height: 220px;
    align-self: flex-start;
  }
  .event_container .item.event:nth-child(5) {
    height: 220px;
  }
  .event_container .item.event:nth-child(6) {
    width: 440px;
    height: 183px;
    opacity: 0.5;
    position: relative;
  }

  .event_container .item.event:nth-child(7) {
    height: 440px;
    align-self: flex-start;
  }
  .event_container .item.event:nth-child(8) {
    width: 460px;
    height: 220px;
  }
  .event_container .item.event:nth-child(9) {
    width: 700px;
    height: 141px;
  }
  /*(max-width:1024px) SECTION:NOTICE_BAR */
  .notice_bar > .inner {
    max-width: 700px;
  }
  .notice_bar > .inner h2 {
    font-size: 13px;
  }
  .notice_bar > .inner .swiper-container .swiper-slide {
    font-size: 12px;
  }
  @media (max-width: 768px) {
    /*(max-width:768px) SECTION:HOME */
    .cgv_logo {
      width: 130px;
      position: absolute;
      top: 0;
      bottom: -10px;
      left: 0;
      right: 0;
      margin: auto;
    }

    .btn .home_main_btn {
      width: 75px;
      height: 75px;
      right: 30px;
      bottom: 30px;
    }

    /*(max-width:768px) SECTION:BANNER */

    /*(max-width:768px) SECTION:MOVIESELECTION */
    /*(max-width:768px) SECTION:CHART-CONTAINER */
    /*(max-width:768px) SECTION:EVENT-DISCOUNT */
    /*(max-width:768px) SECTION:NOTICE-BAR */
    /*(max-width:768px) FOOTER */
  }
}
